server {
  listen 443 ssl;
  listen 443 quic;
  #server_name ?;
  #root ?;
  index index.php;

  location = /index.php {
    include snippets/fastcgi-php.conf;
    fastcgi_pass php;
  }

  location ~ ^([^\.]*|.*\.md)$ {
    add_header Content-Type text/html;
    rewrite ^/(.*)$ /index.php?page=$1 last;
  }
}
